@model nathanielhf_comp2084_assignment_1.Models.Department

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Department</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.storage_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.storage_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aisle_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aisle_number)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.department_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
